@model HorseRacing.Domain.RaceDay

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RaceDay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrackCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrackCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Track)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Track.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaceDateString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaceDateString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaceDayIdString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaceDayIdString)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
