@model HorseRacing.Domain.RawRace

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RawRace</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conditions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conditions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaceType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaceSurface)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaceSurface.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaceDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaceDay.RaceDateString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaceDayIdString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaceDayIdString)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
