@model HorseRacing.Domain.RawRaceHorse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RawRaceHorse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MorningLineOdds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MorningLineOdds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JockeyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JockeyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightCarried)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightCarried)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RawRace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RawRace.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
