@model IEnumerable<HorseRacing.Domain.RawRaceHorse>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-2 text-center border border-primary">
        <h1>
            Race @Model.FirstOrDefault().RawRace.RaceNumber
        </h1>
    </div>
    <div class="col-md-8 border border-primary">
        @Model.FirstOrDefault().RawRace.Conditions
    </div>

</div>

<div class="container">

    <div class="row font-weight-bold">
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.PostPosition)

        </div>

        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.HorseName)

        </div>
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.MorningLineOdds)

        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.JockeyName)

        </div>
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.WeightCarried)

        </div>
        <div class="col-md-3">
            @Html.DisplayNameFor(model => model.TrainerName)

        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="form-group">
            <div class="row">
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.PostPosition)

                </div>

                <div class="col-md-3">
                    @Html.DisplayFor(modelItem => item.HorseName)

                </div>
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.MorningLineOdds)

                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.JockeyName)

                </div>
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.WeightCarried)

                </div>
                <div class="col-md-3">
                    @Html.DisplayFor(modelItem => item.TrainerName)

                </div>
            </div>
        </div>

    }




</div>
