@model IEnumerable<HorseRacing.Domain.RawRaceHorse>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">

    <div class="row">
        <div class="col-1">
            <div>

            </div>
        </div>

        <div class="col-11">

        </div>

    </div>

    <div class="row">

    </div>

</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MorningLineOdds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JockeyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeightCarried)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RawRace)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostPosition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MorningLineOdds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JockeyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeightCarried)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RawRace.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
